#misc {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.discover, .playlist {
  width: 100%;
  h2 {
    margin-bottom: 18px;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    font-size: 1.8em;
  }
  ul {
    display: inline-block;
    list-style: none;
    margin-left: -40px;
  }
  li {
    width: 33.33%;
    float: left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    color: #fff;
  }
}

.discover {
  li {
    img {
      width: 100%;
      &:hover {
        opacity: 0.85;
      }
    }
  }
}

.playlist {
  li {
    img {
      width: 75%;
      padding-bottom: 20px;
      &:hover {
        opacity: 0.85;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .discover, .playlist {
    li {
      width: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .discover, .playlist {
    li {
      width: 100%;
    }
  }
}