// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#playlist {
  list-style: none;
  margin-left: -40px;
}

#nowPlaying {
  display: block;
  background: #000 url('https://s3.amazonaws.com/tubeFM/bg.jpg?AWSAccessKeyId=ASIAJLBXATSFFOP3OTPA&Expires=1378742592&Signature=pssxGBvBSuNqDSMmvEivaoPtuSE%3D&x-amz-security-token=AQoDYXdzEJH//////////wEawALru8XSbCewdHtM4bC1%2BymuANe8SgujdcBF9XpEBwm7JWJ/nL2tOLBuAm0coPWt8JZIEzw/q4uf6Fe8Q7gIdMjPFE6BBamkT/WkSSEJ/Aw0%2BDsN6eiAVFSoIUbCJEc3hi562CFMnlUOxKCzb%2BH6pN5W9H5TNHc63EqLCW3Vek2qcpSC2SlWpkB7XsMkU926r7H4BUqk%2BtDCv7tT0ahdXPkSke67H/3gr/QajzIN6ZpKVmgxAVNWNn2zTcHw%2Bsq/fN7Zcqz3XxiQRdM1tAdUaryfSLLu%2BJWzeXyP2LEmLAL75w95iT8waTbbBKEbZST8yjCLRegiAVSYBWao7OjMfRVt/hrkCJOaHvASjMSLcCVmzH1fT1HWO/sM/ch/vAr5beT1o11MChbTIa4puIHmtH97MMfEh7xxJJuWfSez6wvI0iDu3beRBQ%3D%3D') no-repeat;
  background-size: auto, cover;
  background-position: right top;
  background-repeat:repeat,no-repeat;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px 0;
}

.trackinfo {
  width: 545px;
  background-color: #000;
  color: #fff;
  overflow: auto;
  margin: 0 auto;
  padding: 10px;
    box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  p {
    font-size: 0.9em;
  }
  .trackThumbnail {
    width: 16%;
    float: left;
    img {
      width: 100%;
    }
  }
  .trackDetail {
    width: 84%;
    float: left;
    text-align: left;
    padding-top: 10px;
    padding-left: 8px;
    p {
      padding: 2px 0;
      margin: 0;
    }
    .trackTitle {
      font-weight: bold;
      margin-top: -4px;
    }
  }
}

.now-playing, .coming-up {
  width: 545px;
  margin: 0 auto;
  text-align: left;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6em;
    color: #fff;
    margin: 12px 0 6px 0;
    padding: 0;
    text-shadow: 2px 2px 3px #000;
  }
}

#loadNextTrack .trackinfo {
  &:hover {
    background-color: #1C1C1C;
    cursor: pointer;
    box-shadow: inset 0 0 14px #D8D8D8;
    -moz-box-shadow: inset 0 0 14px #D8D8D8;
    -webkit-box-shadow: inset 0 0 14px #D8D8D8;
  }
}