#player {
  min-height: 346px;
  margin: 50px auto 0 auto;
  width: 100%;
  text-align: center;
  background: #000 url('http://i.imgur.com/Mxu68rv.jpg') no-repeat;
  background-size: auto, cover;
  background-position: right top;
  background-repeat:repeat,no-repeat;
}

.intro {
  padding: 60px 0;
  color: #fff;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.6em;
    margin: 20px 0;
  }
  h3 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 0;
  }
}

#playerObject, #playerControl {
  display: inline-block;
}

#playerObject {
  margin-top: 20px;
}

#playerControl {
  margin-left: 20px;
  margin-bottom: 20px;
}

.trackinfo {
  width: 345px;
  background-color: #000;
  color: #fff;
  overflow: auto;
  padding: 10px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  p {
    font-size: 0.9em;
  }
  .trackThumbnail {
    width: 16%;
    float: left;
    img {
      width: 100%;
    }
  }
  .trackDetail {
    width: 84%;
    float: left;
    text-align: left;
    padding-top: 10px;
    padding-left: 8px;
    p {
      padding: 2px 0;
      margin: 0;
    }
    .trackTitle {
      font-weight: bold;
      margin-top: -4px;
    }
  }
}

#now-playing, #next-track {
  width: 345px;
  text-align: left;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6em;
    color: #fff;
    margin: 12px 0 6px 0;
    padding: 0;
    text-shadow: 2px 2px 3px #000;
  }
}

#next-track .trackinfo {
  &:hover {
    background-color: #1C1C1C;
    cursor: pointer;
    box-shadow: inset 0 0 14px #D8D8D8;
    -moz-box-shadow: inset 0 0 14px #D8D8D8;
    -webkit-box-shadow: inset 0 0 14px #D8D8D8;
  }
}