<!DOCTYPE html>
<html>
<head>
  <title>tubeFM | Your Youtube Radio</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script id="currenttrackinfo-template" type="text/x-handlebars-template">
    <div id="now-playing">
      <h1>Now Playing</h1>
      <div class="trackinfo">
        <div class="trackThumbnail">
          <img src="{{thumbnail}}">
        </div>
        <div class="trackDetail">
          <p class="trackTitle">{{trackTitle}}</p>
          <p class="channelTitle">{{channelTitle}}</p>
        </div>
      </div>
    </div>
  </script>

  <script id="nexttrackinfo-template" type="text/x-handlebars-template">
    <div id="next-track">
      <h1>Advance to Next Track</h1>
      <div class="trackinfo">
        <div class="trackThumbnail">
          <img src="{{thumbnail}}">
        </div>
        <div class="trackDetail">
          <p class="trackTitle">{{trackTitle}}</p>
          <p class="channelTitle">{{channelTitle}}</p>
        </div>
      </div>
    </div>
  </script>
</head>
<body>