<div class="sidebarSearchBox">
  <form role="search" >
    <div class="form-group">
      <input type="text" id="searchChannel" class="form-control" placeholder="Search for Channel">
    </div>
  </form>
</div>

<div class="sidebarTitle"><i class="icon icon-play"></i>Your Playlist</div>
<div class="divider"></div>
<ul id="playlist"></ul>